@charset "utf-8";
/* CSS Document */

#h1 a, #h2 a, #h3 a {
    color:#06a7e1!important;
}
#h1 a:hover, #h2 a:hover, #h3 a:hover {
    color:#eda93a!important;
}



#experiment_tabs{
	width:1080px;
	margin:10px 9px;
	float:left;
	border:1px solid #ccc;
	}

	
#experiment_tabs ul{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	height:25px;
	background:#eda93a!important;
	}
#experiment_tabs ul li{
	display:block;
	float:left;
	margin:3px 0 0 2px;
	height:20px;
	line-height:20px;
	padding:0 10px;
	background:#BFCAE6;
	border: 1px solid #94AAD6;
	font-family:"幼圆";
	}
	
#experiment_tabs li:hover{
	background:#426EB4;
	border: 1px solid #6EC3C9;
	color:white;
	}		
#experiment_tabs li a{
	text-decoration:none;
	color:inherit;
	display:block;
	float:left;
	height:25px;
	}	
#experiment_tabs li.current{
	background:#FDFCF9;
	border:1px solid white;
	color:#205AA7;
	}	
	
#experiment_tabs div.tabiv{
	background:#FDFCF9;
	display:none;
	width:100%;
	float:left;
	height:400px;
	}		
#experiment_tabs div.current{
	display:block;
	}		
#experiment_tabs #tab-1 table{
	width:84%;
	margin:30px 8% 0 8%;
	border-collapse:collapse;
	}	
#experiment_tabs #tab-1 table td{
	font-size:14px;
	height:40px;
	vertical-align: middle;
	border-bottom:1px dashed black;
	font-family:"Adobe 宋体 Std L";
	text-indent:15px;
	}	
#experiment_tabs #tab-1 table td span{
	color:#1A4FA3;
	}
#experiment_tabs #tab-1 table td.brief{
	padding:13px 0;
	} 		
#experiment_tabs #tab-1 table td.brief span{
	display:block;
	float:right;
	width:450px;
	border:1px dotted #898989;
	height:250px;
	margin-right:20px;
	padding:2px 5px;
	white-space:pre-wrap;
	word-wrap:break-word;
	overflow:auto;
	}
#experiment_tabs #tab-3 table.report{
	width:84%;
	margin:30px 8% 0 8%;
	border-collapse:collapse;
	}	

#experiment_tabs #tab-2 table.report td input[type=file]{
	color:#1A4FA3;
	font-size:inherit;
	font-family:inherit;
	border:1px grey solid;
	width:250px;
	}
	#experiment_tabs #tab-2 table{
	width:84%;
	margin:30px 8% 0 8%;
	border-collapse:collapse;
	}	
#experiment_tabs #tab-2 table td{
	font-size:14px;
	height:40px;
	border-bottom:1px dashed black;
	font-family:"Adobe 宋体 Std L";
	text-indent:15px;
	vertical-align: middle;
	}
#experiment_tabs #tab-3 table{
	width:84%;
	margin:30px 8% 0 8%;
	border-collapse:collapse;
	}	
#experiment_tabs #tab-3 table td{
	font-size:14px;
	height:40px;
	vertical-align: middle;
	border-bottom:1px dashed black;
	font-family:"Adobe 宋体 Std L";
	text-indent:15px;
	}	
#experiment_tabs #tab-3 table td{
	font-size:14px;
	height:40px;
	border-bottom:1px dashed black;
	font-family:"Adobe 宋体 Std L";
	text-indent:15px;
	}	
#experiment_tabs #tab-3 table td span{
	color:#1A4FA3;
	}
#experiment_tabs #tab-3 table td.brief{
	padding:13px 0;
	} 		
#experiment_tabs #tab-3 table td.brief span{
	display:block;
	float:right;
	width:450px;
	border:1px dotted #898989;
	height:250px;
	margin-right:20px;
	padding:2px 5px;
	white-space:pre-wrap;
	word-wrap:break-word;
	overflow:auto;
	
/*for Teacher
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
/*experiment create*/
table.create,
table.edit{
	width:90%;
	margin:20px 5% 0 5%;
	font-family:"Adobe 宋体 Std L";
	font-size:14px;
	border-collapse:collapse;
	}
	
table.create td,
table.edit td{
	padding:8px;
	vertical-align:baseline;
	}
table.create td span,
table.edit td span{
	float:right;
	width:520px;
	margin-right:20px;
	color:#1A4FA3;
	}
table.create td span input[type=text],
table.edit td span input[type=text]{
	height:14px;
	margin-top:-2px;
	}	
,table.create td span label,
table.edit td span label{
	margin-right:10px;
	}	
table.create td span input[type=radio],
table.edit td span input[type=radio]{
	height:14px;
	margin-top:-1px;
	}		
table.create td span textarea,
table.edit td span textarea{
	width:300px;
	height:120px;
	overflow:auto;
	word-wrap:break-word;
	margin-bottom:5px;
	}	
table.create td span input[type=file],
table.edit td span input[type=file]{
	display:block;
	float:left;
	margin-top:0px;
	margin-bottom:5px;
	border:1px grey solid;
	width:255px;
	}	
table.create td span input[type=button].upload,
table.edit td span input[type=button].upload{
	margin-left:10px;
	margin-top:-4px;
	}
table.create td span table.resource,
table.edit td span table.resource{
	border-collapse:collapse;
	}	
table.create td span table.resource th,
table.edit td span table.resource th{
	color:black;
	padding-bottom:10px;
	}
table.create td span table.resource td,
table.edit td span table.resource td{
	padding:0;
	padding-bottom:10px;
	}		
table.create td span table.resource td a,
table.edit td span table.resource td a{
	color:inherit;
	text-decoration:none;
	}
table.create td span table.resource td a:hover,
table.edit td span table.resource td a:hover{
	color:#09C;
	text-decoration:underline;
	}		
table.create td span input[type=button]#button1,
table.edit td span input[type=button]#button1,
table.edit td span input[type=button]#button3{
	background-color:#426EB4;
	padding:3px 15px;
	color:white;
	border:1px solid #ccc;
	cursor:pointer;
	margin-right:10px;
	}	
table.create td span input[type=button]#button2,
table.edit td span input[type=button]#button2{
	background-color:white;
	margin-right:10px;
	padding:3px 15px;
	border:1px solid #ccc;
	cursor:pointer;
	}	
			
/*experiment*/	
#tab-4 table.edit td span{
	width:510px;
	margin-right:10px;}
#tab-3 div.reportlist{
	width:98%;
	height:450px;
	margin:20px 1% 0 1%;
	border:1px solid #ccc;
	overflow:auto;
	}	
#tab-3 table.list{
	border-collapse:collapse;
	font-size:12px;
	}
#tab-3 table.list th{
	padding:3px 6px;
	color:white;
	background:#6495ED;
	border-bottom:1px solid #ccc;
	}	
#tab-3 table.list td{
	padding:7px;
	border-bottom:1px solid #ccc;
	font-size:13px;
	text-align:center;
	}		
#tab-3 table.list tr:hover{
	background:#87CEFA;
	color:white;
	}	
#tab-3 table.list td a{
	text-decoration:none;
	color:inherit;
	}	
#tab-3 table.list td a:hover{
	text-decoration:underline;
	color:#005687;
	}	
#tab-3 .downloadbatch{
	font-size:16px;
	font-family:"华文楷体";
	width:98%;
	margin:20px 1% 0 1%;
	text-indent:7px;
	color:#005687;
	}
#tab-3 .downloadbatch select{
	margin-left:10px;
	}	
#tab-3 .downloadbatch a{
	background-color:#426EB4;
	padding:1px 10px;
	color:white;
	border:1px solid #ccc;
	margin-left:10px;
	text-decoration:none;
	}	
#tab-3 .downloadbatch a i{
	margin-top:2px;
	margin-right:3px;
	}	
#tab-3 .downloadbatch a:hover{
	background-color:#06B9D1;
	}	